.hero-body{
    height: 300px;
    margin-bottom: 25px;
    background-image: url("./Assests/images/erik-mclean-gM15fKWMMNA-unsplash.jpg");
    background-size: cover;
    background-position: center;
}

#nav_NewH {
display: none;
background-color:rgb(23, 0, 100);
}

.text_Bliz {
    color: whitesmoke;
}

.navbar-end{
    padding-right: 5em; 
}

.searchAdjust {
    padding-top: 7ex;
    padding-right: 55ex;
}

#searchBy-city {
    font-size: 1.3rem;
    margin-left: 10ex;
}

#airQ {
    color: black;
    font-weight: 600;
}
.card{
    background-color: whitesmoke;
    max-height:400px;
    color: black;
    font-weight: 600;
    font-size: 1.3rem;
}

#resourcePdf {
    font-size: 1.5rem;
    font-weight: 600;
    color: black;
}

#resourcePdfD {
    font-size: 1.5rem;
    font-weight: 600;
    color: black;
} 


.row{
height: 50%;
}

.one-fifth{
    width: 15%;
    display: flex;
    flex-direction: row;
    background-color: burlywood;
    
}

.forecast{
    display: flex;
    flex-direction: row;
    height: 50%;
    background-color: darkslategray;
    color: black;
    font-weight: 600;
    font-size: 1.3rem;
}

.card-body {
    padding: 20px;

}

#the-canvas {
    /* border: 1px solid black; */
    padding-top: 5%;
    direction: ltr;
}

#Weather {
    font-family: sans-serif;
    color:  whitesmoke;
    font-weight: 600;
}

#News{
    font-family: sans-serif;
    color:  whitesmoke;
    font-weight: 600;
}

#description {
    font-family: sans-serif;
    color:  whitesmoke;
    font-weight: 100;
    font-size: 1.1rem;
}

/* class body and class forecast need to be same color. */
.body {
    background-color: darkslategray;
}

.navbar {
    background-color: rgb(23, 0, 100);
}

.navbar-item{
    color: whitesmoke;
    font-size: 5rem;
}


