.hero-body{
    height: 300px;
    margin-bottom: 25px;
    background-image: url("./Assests/images/erik-mclean-gM15fKWMMNA-unsplash.jpg");
    background-size: cover;
    background-position: center;
}

.body {
    background-color: darkslategray;
}

.column {
    padding-left: 1.8rem;
}
.section {
    padding-left: 5rem;
}

.navbar {
    background-color: rgb(23, 0, 100);
}

.navbar-item{
    color: whitesmoke;
    font-size: 5rem;
}


/* responsive CSS replacement below. */
#nav_NewH {
    display: none;
    
}

.text_Bliz {
    color: whitesmoke;
    font-weight: 900;
    font-size: 3rem;
    background-color: rgb(23, 0, 100);
}

.navbar-end{
    padding-right: 28rem; 
}

.searchAdjust {
    padding-top: 7ex;
    padding-right: 55ex;
    background-color: rgb(23, 0, 100);
}

#searchBy-city {
    font-size: 1.3rem;
    margin-left: 10ex;
}

.fa {
    background-color: blue;
    color:white; 
    border-color:skyblue; 
    border-style:double;   
}

.icon {
position: relative;
left: 26rem;
bottom: 2.4rem;
}


#airQ {
    color: black;
    font-weight: 600;
}
.card{
    background-color: whitesmoke;
    max-height:400px;
    color: black;
    font-weight: 600;
    font-size: 1.3rem;
}

#resourcePdf {
    font-size: 1.5rem;
    font-weight: 600;
    color: black;
}

#resourcePdfD {
    font-size: 1.5rem;
    font-weight: 600;
    color: black;
} 

.menu-label {
    font-size: 1.6rem;
    color: black;
    font-weight: 600;
}

.menu {
    background-color: whitesmoke;
    font-size: 1.5rem;
    color: black;
    font-weight: 600;
    
}

.row{
height: 50%;
}

.one-fifth{
    width: 40%;
    display: flex;
    flex-direction: row;
    background-color: burlywood;
    
}

.forecast{
    display: flex;
    flex-direction: row;
    height: 50%;
    background-color: burlywood;
    color: black;
    font-weight: 600;
    font-size: 1.3rem;
    
}

.card-body {
    padding: 20px;
}

#the-canvas {
    padding-top: 5%;
    direction: ltr;
}

#Weather {
    font-family: sans-serif;
    color:  whitesmoke;
    font-weight: 600;
}

#News{
    font-family: sans-serif;
    color:  whitesmoke;
    font-weight: 600;
}
.title {
    color: whitesmoke;
}

#description {
    font-family: sans-serif;
    color:  whitesmoke;
    font-weight: 100;
    font-size: 1.1rem;
}

#the-canvas {
    width: 75%;
}

/* Responsive media querys below. */

    @media only screen and (max-width: 600px) {
        #nav_R {
            display: none;
        }

        #nav_NewH {
            display: inline;
        }

        /* .one-fifth{
            display: none;
        } */
    }

    /* @media only screen and (min-width: 537px){
        #nav_R{
            display: ;
        }
    } */

