.hero-body{
    height: 300px;
    margin-bottom: 25px;
    background-image: url('./Assests/images/pexels-wilson-malone-4558211.jpg');
    background-size: cover;
    background-position: center;
}

.body {
    background-color:beige;
}

.column {
    padding-left: 1.8rem;
}

.section {
    padding-left: 8rem;
}


.navbar {
    background-color:darkslategray;
}

.navbar-item{
    color: whitesmoke;
    font-size: 5rem;
}

/* responsive CSS replacement below. */
#nav_NewH {
    display: none;
    
}

.text_Earth {
    color: whitesmoke;
    font-weight: 900;
    font-size: 3rem;
    background-color: darkslategray;
}

.navbar-end{
    padding-right: 5em; 
}

.searchAdjust {
    padding-top: 7ex;
    background-color: darkslategray;
}

#searchBy-city {
    font-size: 1.3rem;
    margin-left: 10ex;
}

.fa {
    background-color: blue;
    color:white; 
    border-color:skyblue; 
    border-style:double;   
}

.icon {
position: relative;
left: 32rem;
bottom: 2.4rem;
}

#airQ {
    color: black;
    font-weight: 600;
}
.card{
    background-color: lightblue;
    max-height:400px;
    color: black;
    font-weight: 600;
    font-size: 1.3rem;
}

#resourcePdfD {
    font-size: 1.5rem;
    font-weight: 600;
    color: black;
} 

.menu-label {
    font-size: 1.6rem;
    color: black;
    font-weight: 600;
}

.menu {
    background-color: lightblue;
    font-size: 1.5rem;
    color: black;
    font-weight: 600;
    
}

.row{
height: 50%;
}

.one-fifth{
    width: 15%;
    display: flex;
    flex-direction: row;
    background-color: burlywood;
    
}

.forecast{
    display: flex;
    flex-direction: row;
    height: 50%;
    background-color:beige;
    color: black;
    font-weight: 600;
    font-size: 1.3rem;
}

.card-body {
    padding: 20px;

}

#the-canvas {
    /* border: 1px solid black; */
    padding-top: 5%;
    direction: ltr;
}

#Weather {
    font-family: sans-serif;
    color: black;
    font-weight: 600;
}

#News{
    font-family: sans-serif;
    color: black;
    font-weight: 600;
}

#description {
    font-family: sans-serif;
    color: black;
    font-weight: 100;
    font-size: 1.3rem;
}
#the-canvas {
    width: 75%;
}

/* Responsive media querys below. */

@media only screen and (max-width: 600px) {
    #nav_R {
        display: none;
    }

    #nav_NewH {
        display: inline;
    }

    /* .one-fifth{
        display: none;
    } */
}

/* @media only screen and (min-width: 537px){
    #nav_R{
        display: ;
    }
} */



