.hero-body{
    height: 300px;
    margin-bottom: 25px;
    background-image: url("./Assests/images/pexels-ralph-w-lambrecht-1446076.jpg");
    background-size: cover;
    background-position: center;
}

.body {
    background-color: rgba(210, 105, 30, 0.115);
}

.column {
    padding-left: 3rem;
}

.section {
    padding-left: 7rem;
}

.navbar {
    background-color:darkcyan;
}

.navbar-item{
    color:whitesmoke;
    font-size: 5rem;
}

.navbar-end{
    padding-right: 30em; 
}

/* responsive CSS replacement below. */
#nav_NewH {
    display: none;
    
}

.text_Torn {
    color: whitesmoke;
    font-weight: 900;
    font-size: 3rem;
    background-color:darkcyan;
}

.searchAdjust {
    padding-top: 7ex;
    padding-right:40ex;
    background-color:darkcyan;
}

#searchBy-city {
    font-size: 1.3rem;
    margin-left: 10ex;
}

.fa {
    background-color: blue;
    color:white; 
    border-color:skyblue; 
    border-style:double;   
}

.icon {
position: relative;
left: 32rem;
bottom: 2.4rem;
}


#airQ {
    color: black;
    font-weight: 600;
}
.card{
    background-color: rgba(71, 61, 139, 0.367);
    max-height:400px;
    color: black;
    font-weight: 600;
    font-size: 1.3rem;
}

#resourcePdf {
    font-size: 1.5rem;
    font-weight: 600;
    color: black;
}

#resourcePdfD {
    font-size: 1.5rem;
    font-weight: 600;
    color: black;
} 

.menu-label {
    font-size: 1.6rem;
    color: black;
    font-weight: 600;
}

.menu {
    background-color:  rgba(188, 143, 183, 0.36);
    font-size: 1.5rem;
    color: black;
    font-weight: 600;
    
}


.row{
height: 50%;
}

.one-fifth{
    width: 15%;
    display: flex;
    flex-direction: row;
    background-color: burlywood;
    
}

.forecast{
    display: flex;
    flex-direction: row;
    height: 50%;
    background-color: rgba(210, 105, 30, 0);
    color: black;
    font-weight: 600;
    font-size: 1.3rem;
}

.card-body {
    padding: 20px;

}

#the-canvas {
    /* border: 1px solid black; */
    padding-top: 5%;
    direction: ltr;
}

#Weather {
    font-family: sans-serif;
    color: black;
    font-weight: 600;
}

#News{
    font-family: sans-serif;
    color: black;
    font-weight: 600;
}

#description {
    font-family: sans-serif;
    color: black;
    font-weight: 100;
    font-size: 1.3rem;
}

#the-canvas {
    width: 75%;
}

/* Responsive media querys below. */

@media only screen and (max-width: 600px) {
    #nav_R {
        display: none;
    }

    #nav_NewH {
        display: inline;
    }
}

/* @media only screen and (min-width: 537px){
    #nav_R{
        display: ;
    }
} */




